@charset "UTF-8";
:root {
  --grid-margin: 15px;
  --border-radius: 0.5rem;
}

@media (min-width: 700px) {
  :root {
    --grid-margin: 30px;
    --border-radius: 0.75rem;
  }
}
@media (min-width: 1000px) {
  :root {
    --grid-margin: 50px;
    --border-radius: 0.5rem;
  }
}
.font-f37 {
  font-family: "F37Bolton";
}
.font-sohn {
  font-family: "SuisseIntlMono";
}
.font-suis {
  font-family: "SohneSchmal";
}

.bold {
  font-weight: bold;
}

@font-face {
  font-display: swap;
  font-family: "F37Bolton";
  src: url("../fonts/F37Bolton-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "F37Bolton";
  src: url("../fonts/F37Bolton-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "SuisseIntlMono";
  src: url("../fonts/SuisseIntlMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "SuisseIntlMono";
  src: url("../fonts/SuisseIntlMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "SohneSchmal";
  src: url("../fonts/SohneSchmal-Buch.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html {
  font-size: 14px;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
  font-weight: 400;
  scroll-behavior: smooth;
}
@media (min-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1600px) and (max-width: 1999px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 2000px) and (max-width: 2399px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2400px) {
  html {
    font-size: 20px;
  }
}
body {
  line-height: 1.1;
  font-family: "F37Bolton", -apple-system, arial, sans-serif;
  color: #000;
  background-color: #F4F4F4;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  /* 모바일에서 요소를 터치할 때 나타나는 하이라이트 효과를 제거 */
  -webkit-text-size-adjust: 100%;
  /* iOS에서 텍스트 크기의 자동 조정을 막고 원래 크기로 유지 */
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  /* 모든 브라우저에서 텍스트 크기의 자동 조정을 막고 원래 크기로 유지 */
  cursor: default;
  /* 기본 커서 스타일을 적용 */
  line-height: 1.5;
  /* 기본 줄 간격을 1.5로 설정해 가독성 향상 */
  overflow-wrap: break-word;
  /* 긴 단어나 URL이 요소의 너비를 넘을 경우 자동 줄바꿈을 적용 */
  -moz-tab-size: 4;
  /* Firefox에서 탭 문자의 너비를 4칸으로 설정 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 모든 브라우저에서 탭 문자의 너비를 4칸으로 설정 */
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
li {
  list-style: none;
}

fieldset,
input {
  border: 0;
  background: transparent;
  outline: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

::-moz-selection {
  background-color: #FA5C40;
  color: #fff;
}

::selection {
  background-color: #FA5C40;
  color: #fff;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E8E8E8;
  -webkit-transition: -webkit-clip-path 1200ms cubic-bezier(0.65, 0, 0, 1);
  transition: -webkit-clip-path 1200ms cubic-bezier(0.65, 0, 0, 1);
  transition: clip-path 1200ms cubic-bezier(0.65, 0, 0, 1);
  transition: clip-path 1200ms cubic-bezier(0.65, 0, 0, 1), -webkit-clip-path 1200ms cubic-bezier(0.65, 0, 0, 1);
  z-index: 9999;
}
.loading__lottie {
  width: clamp(160px, 13.88889vw, 350px);
}

body.dimmed {
  overflow: hidden;
}

body.dimmed::after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  content: "";
}

.hide-mb {
  display: none;
}
@media (min-width: 700px) {
  .hide-mb {
    display: block;
  }
}

.hide-tb {
  display: block;
}
@media (min-width: 700px) {
  .hide-tb {
    display: none;
  }
}

.card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../images/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: var(--border-radius);
  padding: 0.9375rem 0.9375rem 2.1875rem 0.9375rem;
  width: 100%;
  height: 100%;
}
.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #fff;
}
.card__top svg {
  width: 27px;
  height: 13px;
  fill: #fff;
}
.card__title {
  font-size: 2rem;
}
@media (min-width: 1000px) {
  .card__title {
    font-size: 3.375rem;
  }
}
.card__reserve {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius);
  position: relative;
  min-width: 7.5rem;
  height: 3.3125rem;
  background: #000;
  color: #fff;
  overflow: hidden;
}
@media (min-width: 700px) {
  .card__reserve {
    background: transparent;
    border: 1px solid #fff;
  }
}
.card__reserve-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.375rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
  text-align: center;
}
.card__reserve-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}
@media (min-width: 700px) {
  .card__reserve-inner {
    background: transparent;
  }
}
.card__reserve-inner__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  gap: 10px;
  background: #FA5C40;
  white-space: nowrap;
  position: absolute;
}
.card:hover .card__reserve {
  border-color: transparent;
}
.card:hover .card__reserve-inner {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-radius: var(--border-radius);
}
.card:hover .card__reserve-inner__wrap {
  -webkit-animation: railHorizontal linear infinite;
          animation: railHorizontal linear infinite;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
.card:hover .card__reserve-title {
  opacity: 0;
  -webkit-transform: translate(0, -200%);
          transform: translate(0, -200%);
}

@-webkit-keyframes loading {
  from {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
  }
  to {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
  }
}

@keyframes loading {
  from {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
  }
  to {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
  }
}
@-webkit-keyframes underlineOver {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes underlineOver {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes underlineOut {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
}
@keyframes underlineOut {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
}
@-webkit-keyframes railHorizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
@keyframes railHorizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
@-webkit-keyframes railHorizontal2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes railHorizontal2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes mouseoutVideoToggler {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    stroke-dashoffset: 616;
  }
  100% {
    -webkit-transform: rotate(85deg);
            transform: rotate(85deg);
    stroke-dashoffset: 0;
  }
}
@keyframes mouseoutVideoToggler {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    stroke-dashoffset: 616;
  }
  100% {
    -webkit-transform: rotate(85deg);
            transform: rotate(85deg);
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes mouseoverVideoToggler {
  0% {
    stroke-dasharray: 0;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  15% {
    stroke-dasharray: 2, 10;
  }
  100% {
    stroke-dasharray: 2, 10;
    -webkit-transform: rotate(35deg) scale(0.9);
            transform: rotate(35deg) scale(0.9);
  }
}
@keyframes mouseoverVideoToggler {
  0% {
    stroke-dasharray: 0;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  15% {
    stroke-dasharray: 2, 10;
  }
  100% {
    stroke-dasharray: 2, 10;
    -webkit-transform: rotate(35deg) scale(0.9);
            transform: rotate(35deg) scale(0.9);
  }
}
@-webkit-keyframes scrollUp-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -1));
            transform: translateY(calc(10px * -1));
  }
}
@keyframes scrollUp-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -1));
            transform: translateY(calc(10px * -1));
  }
}
@-webkit-keyframes scrollUp-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -2));
            transform: translateY(calc(10px * -2));
  }
}
@keyframes scrollUp-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -2));
            transform: translateY(calc(10px * -2));
  }
}
@-webkit-keyframes scrollUp-3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -3));
            transform: translateY(calc(10px * -3));
  }
}
@keyframes scrollUp-3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -3));
            transform: translateY(calc(10px * -3));
  }
}
@-webkit-keyframes scrollUp-4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -4));
            transform: translateY(calc(10px * -4));
  }
}
@keyframes scrollUp-4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -4));
            transform: translateY(calc(10px * -4));
  }
}
@-webkit-keyframes scrollUp1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 1));
            transform: translateY(calc(10px * 1));
  }
}
@keyframes scrollUp1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 1));
            transform: translateY(calc(10px * 1));
  }
}
@-webkit-keyframes scrollUp2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 2));
            transform: translateY(calc(10px * 2));
  }
}
@keyframes scrollUp2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 2));
            transform: translateY(calc(10px * 2));
  }
}
@-webkit-keyframes scrollUp3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 3));
            transform: translateY(calc(10px * 3));
  }
}
@keyframes scrollUp3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 3));
            transform: translateY(calc(10px * 3));
  }
}
@-webkit-keyframes scrollUp4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 4));
            transform: translateY(calc(10px * 4));
  }
}
@keyframes scrollUp4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 4));
            transform: translateY(calc(10px * 4));
  }
}
.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  overflow-y: auto;
  max-height: calc(100% - 60px);
  background: #E8E8E8;
  z-index: 5;
  border-radius: 2.375rem 2.375rem 0 0;
  padding: var(--grid-margin);
}
@media (min-width: 700px) {
  .sub-menu {
    height: 100%;
    max-height: 100%;
    border-radius: 0;
  }
}
.sub-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  position: relative;
  padding: 20px var(--grid-margin);
}
@media (min-width: 700px) {
  .sub-menu__top {
    padding: 0 var(--grid-margin);
  }
}
.sub-menu__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 60px);
  width: 120px;
  height: 4px;
  margin-bottom: 20px;
  background-color: #d3d2cf;
  border-radius: 4px;
}
@media (min-width: 500px) {
  .sub-menu__top::before {
    content: none;
  }
}
.sub-menu__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10.25rem;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 102px;
  height: 100%;
}
.sub-menu__bottom .card {
  width: 50%;
  aspect-ratio: 9/15;
}
@media (min-width: 700px) {
  .sub-menu__bottom .card {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: calc((100% + 20px) / 10 * 2 - 20px);
    aspect-ratio: 9/14;
  }
}
.sub-menu__left {
  display: none;
}
@media (min-width: 700px) {
  .sub-menu__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 20px;
    height: 100%;
  }
}
.sub-menu__media-list-wrap {
  display: grid;
  gap: 20px;
}
@media (min-width: 1000px) {
  .sub-menu__media-list-wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
  }
}
.sub-menu__media-item {
  line-height: 1.75;
}
.sub-menu__media-item a {
  position: relative;
}
.sub-menu__media-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.sub-menu__media-item a:hover::after {
  -webkit-animation: underlineOver 0.3s ease forwards;
          animation: underlineOver 0.3s ease forwards;
}
.sub-menu__media-item a:not(:hover)::after {
  -webkit-animation: underlineOut 0.3s ease forwards;
          animation: underlineOut 0.3s ease forwards;
}
@media (min-width: 1000px) {
  .sub-menu__media-item {
    font-size: 15px;
  }
}
.sub-menu__video {
  position: relative;
  width: 23.75rem;
  margin-top: 2.5rem;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.sub-menu__video .video_svg {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}
.sub-menu__video .video_svg circle {
  stroke: #fff;
  stroke-width: 1px;
  fill: transparent;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 616;
  stroke-dashoffset: 616;
  -webkit-animation: mouseoutVideoToggler 1.2s cubic-bezier(0.6, 0.5, 0, 1) forwards;
          animation: mouseoutVideoToggler 1.2s cubic-bezier(0.6, 0.5, 0, 1) forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.sub-menu__video .video_svg:hover circle {
  -webkit-animation: mouseoverVideoToggler 1.2s cubic-bezier(0.2, 0.1, 0, 1) forwards;
          animation: mouseoverVideoToggler 1.2s cubic-bezier(0.2, 0.1, 0, 1) forwards;
}
.sub-menu__video a {
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
}
.sub-menu__video a video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-menu__video a::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.sub-menu__video:hover .sub-menu__video--watch span:first-child {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.sub-menu__video:hover .sub-menu__video--watch span:last-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.sub-menu__video--watch {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 30px;
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  font-size: 1.125rem;
  line-height: 1.6;
}
.sub-menu__video--watch span {
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sub-menu__video--watch span:first-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.sub-menu__video--watch span:last-child {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.sub-menu__list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 700px) {
  .sub-menu__list-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% - 20px) / 2);
            flex: 0 0 calc((100% - 20px) / 2);
  }
}
.sub-menu__list-title {
  margin-bottom: 3rem;
}
.sub-menu__item {
  font-size: 2em;
  margin-bottom: 18px;
}
@media (min-width: 1000px) {
  .sub-menu__item {
    margin-bottom: 23px;
  }
}
.sub-menu__item:nth-child(1) {
  --color-rail: #FA5C40;
}
.sub-menu__item:nth-child(2) {
  --color-rail:#40522E;
}
.sub-menu__item:nth-child(3) {
  --color-rail:#c4a173;
}
.sub-menu__item:nth-child(4) {
  --color-rail:#29525e;
}
.sub-menu__item:nth-child(5) {
  --color-rail:#000;
}
.sub-menu__item a {
  position: relative;
  padding-bottom: 18px;
}
@media (min-width: 1000px) {
  .sub-menu__item a {
    padding-bottom: 23px;
  }
}
.sub-menu__item:hover .sub-menu__item-rail {
  visibility: visible;
}
.sub-menu__item:hover .sub-menu__item-rail span {
  -webkit-animation: railHorizontal2 3s linear infinite;
          animation: railHorizontal2 3s linear infinite;
}
.sub-menu__item-rail {
  display: none;
}
@media (min-width: 700px) {
  .sub-menu__item-rail {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 1rem;
    position: absolute;
    z-index: 10;
    top: 0;
    left: -2em;
    bottom: 0;
    overflow: hidden;
    color: #E8E8E8;
    width: calc((100vw - 180px - var(--grid-margin) * 2) / 10 * 4 + 60px + 0.5em);
    background-color: var(--color-rail);
    border-radius: var(--border-radius);
    pointer-events: none;
    font-size: 2.3625rem;
    padding: 8px 0;
  }
}
@media (min-width: 700px) and (min-width: 1000px) {
  .sub-menu__item-rail {
    font-size: 3.375rem;
    padding: 15px 0;
  }
}
@media (min-width: 700px) {
  .sub-menu__item-rail span {
    white-space: nowrap;
  }
}
@media (min-width: 1000px) {
  .sub-menu__item {
    font-size: 3.375rem;
  }
}/*# sourceMappingURL=style.css.map */