@charset "UTF-8";
.font-f37 {
  font-family: "F37Bolton";
}
.font-sohn {
  font-family: "SuisseIntlMono";
}
.font-suis {
  font-family: "SohneSchmal";
}

.bold {
  font-weight: bold;
}

@font-face {
  font-display: swap;
  font-family: "F37Bolton";
  src: url("../fonts/F37Bolton-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "F37Bolton";
  src: url("../fonts/F37Bolton-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "SuisseIntlMono";
  src: url("../fonts/SuisseIntlMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "SuisseIntlMono";
  src: url("../fonts/SuisseIntlMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "SohneSchmal";
  src: url("../fonts/SohneSchmal-Buch.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html {
  font-size: 14px;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
  scroll-behavior: smooth;
}
@media (min-width: 1000px) {
  html {
    font-size: 17px;
  }
}

body {
  line-height: 1.1;
  font-family: "F37Bolton", -apple-system, arial, sans-serif;
  color: #000;
  background-color: #F4F4F4;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  /* 모바일에서 요소를 터치할 때 나타나는 하이라이트 효과를 제거 */
  -webkit-text-size-adjust: 100%;
  /* iOS에서 텍스트 크기의 자동 조정을 막고 원래 크기로 유지 */
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  /* 모든 브라우저에서 텍스트 크기의 자동 조정을 막고 원래 크기로 유지 */
  cursor: default;
  /* 기본 커서 스타일을 적용 */
  line-height: 1.5;
  /* 기본 줄 간격을 1.5로 설정해 가독성 향상 */
  overflow-wrap: break-word;
  /* 긴 단어나 URL이 요소의 너비를 넘을 경우 자동 줄바꿈을 적용 */
  -moz-tab-size: 4;
  /* Firefox에서 탭 문자의 너비를 4칸으로 설정 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 모든 브라우저에서 탭 문자의 너비를 4칸으로 설정 */
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
li {
  list-style: none;
}

fieldset,
input {
  border: 0;
  background: transparent;
  outline: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

::-moz-selection {
  background-color: #FA5C40;
  color: #fff;
}

::selection {
  background-color: #FA5C40;
  color: #fff;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E8E8E8;
  -webkit-transition: -webkit-clip-path 1200ms cubic-bezier(0.65, 0, 0, 1);
  transition: -webkit-clip-path 1200ms cubic-bezier(0.65, 0, 0, 1);
  transition: clip-path 1200ms cubic-bezier(0.65, 0, 0, 1);
  transition: clip-path 1200ms cubic-bezier(0.65, 0, 0, 1), -webkit-clip-path 1200ms cubic-bezier(0.65, 0, 0, 1);
  z-index: 9999;
}
.loading__lottie {
  width: clamp(160px, 13.88889vw, 350px);
}

body.dimmed::after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  content: "";
}

@-webkit-keyframes loading {
  from {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
  }
  to {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
  }
}

@keyframes loading {
  from {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
  }
  to {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
  }
}
@-webkit-keyframes railHorizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes railHorizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes scrollUp-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -1));
            transform: translateY(calc(10px * -1));
  }
}
@keyframes scrollUp-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -1));
            transform: translateY(calc(10px * -1));
  }
}
@-webkit-keyframes scrollUp-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -2));
            transform: translateY(calc(10px * -2));
  }
}
@keyframes scrollUp-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -2));
            transform: translateY(calc(10px * -2));
  }
}
@-webkit-keyframes scrollUp-3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -3));
            transform: translateY(calc(10px * -3));
  }
}
@keyframes scrollUp-3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -3));
            transform: translateY(calc(10px * -3));
  }
}
@-webkit-keyframes scrollUp-4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -4));
            transform: translateY(calc(10px * -4));
  }
}
@keyframes scrollUp-4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * -4));
            transform: translateY(calc(10px * -4));
  }
}
@-webkit-keyframes scrollUp1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 1));
            transform: translateY(calc(10px * 1));
  }
}
@keyframes scrollUp1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 1));
            transform: translateY(calc(10px * 1));
  }
}
@-webkit-keyframes scrollUp2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 2));
            transform: translateY(calc(10px * 2));
  }
}
@keyframes scrollUp2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 2));
            transform: translateY(calc(10px * 2));
  }
}
@-webkit-keyframes scrollUp3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 3));
            transform: translateY(calc(10px * 3));
  }
}
@keyframes scrollUp3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 3));
            transform: translateY(calc(10px * 3));
  }
}
@-webkit-keyframes scrollUp4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 4));
            transform: translateY(calc(10px * 4));
  }
}
@keyframes scrollUp4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(10px * 4));
            transform: translateY(calc(10px * 4));
  }
}
.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36rem;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  max-height: calc(100% - 60px);
  background: #E8E8E8;
  z-index: 5;
  border-radius: 2.375rem 2.375rem 0 0;
  padding: 15px;
}
@media (min-width: 700px) {
  .sub-menu {
    height: 42rem;
  }
}
.sub-menu__top {
  width: 100%;
  height: 11rem;
  position: relative;
  padding: 20px 15px;
}
.sub-menu__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 60px);
  width: 120px;
  height: 4px;
  background-color: #d3d2cf;
  border-radius: 4px;
}
.sub-menu__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 1.42rem auto 0 auto;
  width: 10.25rem;
}
.sub-menu__logo svg {
  width: 100%;
  height: 50px;
}
.sub-menu__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sub-menu__bottom .card {
  width: 11.6rem;
}
.sub-menu__bottom .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  aspect-ratio: 9/15;
  background-image: url(../images/thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0.5rem;
  padding: 0.9375rem 0.9375rem 2.1875rem 0.9375rem;
  width: 100%;
}
.sub-menu__bottom .card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #fff;
}
.sub-menu__bottom .card__top svg {
  width: 27px;
  height: 13px;
  fill: #fff;
}
.sub-menu__bottom .card__title {
  font-size: 2rem;
}
.sub-menu__bottom .card__reserve {
  border-radius: 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 7.5rem;
  height: 3.3125rem;
  background: #000;
  color: #fff;
  overflow: hidden;
  padding: 0 1.375rem;
}
.sub-menu__list-title {
  display: block;
  margin-bottom: 3rem;
}
.sub-menu__item {
  font-size: 2em;
}
.sub-menu__item + .sub-menu__item {
  margin-top: 18px;
}/*# sourceMappingURL=style.css.map */