//main

body {
  @include responsive('m') {}

  @include responsive('t') {}

  @include responsive('d') {}
}

// 서브 메뉴
.sub-menu {
  @include column-flexbox(start, between);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: height .3s;
  overflow-y: auto;

  max-height: calc(100% - 60px);
  background: #E8E8E8;
  z-index: 5;
  border-radius: 2.375rem 2.375rem 0 0;
  padding: $grid-margin;

  &__top {
    display: flex;
    width: 100%;
    height: 100px;
    position: relative;
    padding: 38px $grid-margin;

    @include responsive('m') {
      padding: $grid-gutter $grid-margin;
    }

    &::before {
      content: '';

      @include responsive('m') {
        content: none;
      }

      position: absolute;
      top: 0;
      left: calc(50% - 60px);
      width: 120px;
      height: 4px;
      margin-bottom: 20px;
      background-color: #d3d2cf;
      border-radius: 4px;
    }
  }

  &__logo {
    @include pos-center-x;
    width: 10.25rem;
    height: 50px;
    display: flex;
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 0;

    .card {
      width: 50%;
      aspect-ratio: 9/15;
      a {
        @include column-flexbox(between, center);
        background-image: url(../images/thumbnail.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: $border-radius;
        padding: .9375rem .9375rem 2.1875rem .9375rem;
        width: 100%;
        height: 100%;
      }

      &__top {
        @include flexbox(between, start);
        width: 100%;
        color: $color-white;

        svg {
          width: 27px;
          height: 13px;
          fill: $color-white;
        }
      }

      &__title {
        font-size: 2rem;
      }

      &__reserve {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        position: relative;
        min-width: 7.5rem;
        height: $button-height;
        background: #000;
        color: $color-white;
        overflow: hidden;
        &-title {
          @include flexbox;
          padding: 0 1.375rem;
          transform: translate(0, 0);
          transition: transform 0.4s ease, opacity 0.4s ease;
        }

        &-inner {
          display: flex;
          align-items: center;
          position: absolute;
          border-radius: 50px;
          width: 100%;
          height: 100%;
          transition: .4s;
          overflow: hidden;
          transform: translateY(101%);
          &__wrap{
            @include flexbox;
            height: 100%;
            gap: 10px;
            background: $color-primary;
            white-space: nowrap;
            position: absolute;
          }
        }
      }
      &:hover .card__reserve-inner{
        opacity: 1;
        transform: translateY(0);
        border-radius: $border-radius;
        &__wrap{
          animation: railHorizontal linear infinite;
          animation-duration: 6s;
        }
      }
      &:hover .card__reserve-title {
        opacity: 0;
        transform: translate(0, -200%);
      }
    }
  }

  &__list-wrap {
    @include column-flexbox(between, start);

  }

  &__list-title {
    display: block;
    margin-bottom: 3rem
  }

  &__list {}

  &__item {
    font-size: 2em;

    &+& {
      margin-top: 18px;
    }
  }
}